* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
 }

 h1 {
    padding: 20px;
    text-align: center;
    background-color: #0c2e4d;
    color: #fff;
 }

 #search {
    width: 220px;
    height: 22px;
 }

 #searchBtn {
    padding: 4px

 }

 #results-container {
   margin: 32px 0;
   display:flex;
   flex-wrap: wrap;
   gap: 8px;
 }

 .forecast-card {
   border: 1px solid grey;
   border-radius: 8px;
   width: 220px;
   padding: 8px;
 }
 
 

    